:root {
	--white: #fafafa;
	--black: #2d2d2d;

	--font-serif: 'Noto Serif', serif;
	--font-sans-serif: 'Noto Sans JP', sans-serif;
}

*:focus {
	padding: 0.5em;
	background-color: black;
}

* {
	color: var(--white);
}

body {
	box-sizing: border-box;
	margin: 1em;
	background-color: var(--black);
	color: var(--white);
	font-family: var(--font-sans-serif);
	font-size: 1.5em;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: auto;
	grid-template-areas:
		'top top top top top top top'
		'nav main main main main main main'
		'nav main main main main main main'
		'nav main main main main main main';
}

h1 {
	font-size: 2em;
}

h1,
h2 {
	margin: 0;
}

a {
	color: var(--white);
}

nav {
	font-size: 2em;
	font-weight: 700;
	line-height: 2em;
	border-right: 5px solid var(--white);
	grid-area: nav;
}

nav ul {
	list-style: none;
}

main {
	grid-area: main;
	padding: 2em;
	max-width: 40em;
}

.top {
	grid-area: top;
	display: flex;
	flex-direction: column;
}

.top a {
	margin: 0.25em 0;
	font-size: 1.2em;
	max-width: 300px;
	text-align: center;
}

.sans {
	font-family: var(--font-sans);
}

.sans-serif {
	font-family: var(--font-sans-serif);
}

.caps {
	text-transform: uppercase;
}

.extrabold {
	font-weight: 900;
}

.visually-hidden {
	opacity: 0;
	height: 0;
}

.visually-hidden:focus {
	padding: 0;
}

.no-script {
	font-size: 2em;
	text-align: center;
}
